{% extends "base.html" %}
{% block extra_head %}
    <title>Realtime Stock chart</title>
{% endblock extra_head %}
{% block menu %}
<div class="container">
    <div class="header clearfix">
        <nav>
            <ul class="nav nav-pills pull-right">
                <li role="presentation" class="active"><a href="#">Home</a></li>
                <li role="presentation"><a href="#" data-toggle="modal" data-target="#about_modal">About</a></li>
            </ul>
        </nav>
        <h3 class="text-muted">Stock Web</h3>
    </div>
<div class="modal fade" id="about_modal" role="dialog">
    <div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<h3>Team:tinyjumbo</h3>
			</div>
			<div class="modal-body">
				<table class="table table-striped" id="tblGrid">
            		<thead id="tblHead">
              			<tr>
							<th></th>
                			<th>Name</th>
                			<th>Education</th>
                			<th>Role</th>
							<th>Follow us</th>
              			</tr>
            		</thead>
            	<tbody>
              		<tr>
						<td><img src="https://cdn2.iconfinder.com/data/icons/rcons-user/32/male-circle-128.png" style="margin:15px;float:left;width:40px;max-height:40px;"/></td>
						<td style="vertical-align:middle">Zach Qiu</td>
                		<td style="vertical-align:middle">Tufts University</td>
                		<td style="vertical-align:middle">Team leader & Back-end</td>
						<td>	
							<div class="footer-social-icons">
								<ul class="social-icons">
									<li><a href="https://www.linkedin.com/in/zhihui-zach-qiu-295a088a" class="social-icon"> <i class="fa fa-linkedin"></i></a></li>
									<li><a href="https://github.com/qiuzhihui" class="social-icon"> <i class="fa fa-github"></i></a></li>
								</ul>
							</div>
						</td>
              		</tr>
              		<tr>
						<td><img src="https://cdn1.iconfinder.com/data/icons/mix-color-4/502/Untitled-1-512.png" style="margin:15px;float:left;width:40px;max-height:40px;"/></td>
						<td style="vertical-align:middle">Ruiqian Yu</td>
                		<td style="vertical-align:middle">Northeastern University</td>
                		<td style="vertical-align:middle">Front-end</td>
						<td>	
							<div class="footer-social-icons">
								<ul class="social-icons">
									<li><a href="https://www.linkedin.com/in/ruiqian-yu-59371960" class="social-icon"> <i class="fa fa-linkedin"></i></a></li>
									<li><a href="https://github.com/Jelly-Yu" class="social-icon"> <i class="fa fa-github"></i></a></li>
								</ul>
							</div>
						</td>
              		</tr>
              		<tr>
						<td><img src="https://cdn1.iconfinder.com/data/icons/mix-color-4/502/Untitled-1-512.png" style="margin:15px;float:left;width:40px;max-height:40px;"/></td>
						<td style="vertical-align:middle">Yi Qi</td>
                		<td style="vertical-align:middle">Bentley University</td>
                		<td style="vertical-align:middle">Data Scientist</td>
						<td>	
							<div class="footer-social-icons">
								<ul class="social-icons">
									<li><a href="https://www.linkedin.com/in/yiqi1224/en" class="social-icon"> <i class="fa fa-linkedin"></i></a></li>
									<li><a href="https://github.com/xmaseve" class="social-icon"> <i class="fa fa-github"></i></a></li>
								</ul>
							</div>
						</td>
              		</tr>
            	</tbody>
          	</table>
			</div>
			<div class="modal-footer">
				<button class="btn" data-dismiss="modal">Close</button>
			</div>
		</div>
	</div>
</div>


{% endblock menu %}

{% block content %}
    <div class="container">
        <div class="jumbotron">
            <p>This project aims to predict stock using data collected from Twitter and Facebook. The prediction and real time value are shown as below.</p>
        </div>


        <div class="main-panel">

            <div id="filter" >
                <select id="company-select" name="character">
                    <option value="google">Google</option>
                    <option value="amazon">Amazon</option>
                    <option value="facebook">Facebook</option>
                </select>
            </div>
            <div id="date-picker" style="display:none;">
                <label for="from">From</label>
                <input type="text" id="from" name="from">
                <label for="to">to</label>
                <input type="text" id="to" name="to">
            </div>
            <div class="tabs">
                <nav>
                    <a href="#container0"><image src="../static/image/chart-128.png" style="width:60px;height:40px;"/></a>
                    <a href="#container1"><image src="../static/image/bar_chart-128.png" style="width:60px;max-height:40px;"/></a>
                    <a href="#container2"><image src="../static/image/Twitter_logo_blue.png" style="width:50px;max-height:40px;"/></a>
                </nav>
                <div class="chart content" id="container0">
                    
                </div>
                <div class="chart content" id="container1">
                    
                </div>
                <div class="chart content" id="container2">
                    <div class="w3-card-4 tweet-card"> 
						<header class="w3-container">
							<img src="https://cdn2.iconfinder.com/data/icons/rcons-user/32/male-circle-128.png" style="margin:15px;float:left;width:40px;max-height:40px;"/>
  							<h3>UserScreenName</h3>
						</header>
						<div class="w3-container">
  							<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
							<p>1:26 PM - 30 April 2015</p>
							<div class="bottom-line">
								<span id="retweet" class="icon-text">445</span>
								<span id="like" class="icon-text">673</span>
							</div>							
						</div>
					</div>
					<div class="w3-card-4 tweet-card"> 
						<header class="w3-container">
							<img src="https://cdn1.iconfinder.com/data/icons/mix-color-4/502/Untitled-1-512.png" style="margin:15px;float:left;width:40px;max-height:40px;"/>
  							<h3>Jelly</h3>
						</header>
						<div class="w3-container">
  							<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
							<p>1:26 PM - 30 April 2015</p>
							<div class="bottom-line">
								<span id="retweet" class="icon-text">123</span>
								<span id="like" class="icon-text">223</span>
							</div> 							
						</div>
					</div>
					<div class="w3-center">
  							<div class="w3-section">
    							<button class="w3-btn" onclick="plusDivs(-1)">❮ Prev</button>
    							<button class="w3-btn" onclick="plusDivs(1)">Next ❯</button>
  							</div>
					</div>
                </div>
            </div>
<table id="datatable" style="display:none;">
    <thead>
        <tr>
            <th></th>
            <th>Amazon</th>
            <th>Facebook</th>
            <th>Google</th>
        </tr>
    </thead>
    <tbody>	
       {% for key, value in info.iteritems() %}
        <tr>			
            <th>{{ key }}</th> 
			{% for item in info[key] %}           
            <td>{{ item }}</td>	
			{% endfor %}	
        </tr>
        {% endfor %}
    </tbody>
</table>
<div id="dynamic-table"></div>
<table id="google-table" style="display:none;">
    <thead>
        <tr>
            <th></th>
            <th>Google</th>
        </tr>
    </thead>
    <tbody>	
       {% for key, value in line.iteritems() %}
        <tr>			
            <th>{{ key }}</th> 
			{% for item in line[key] %}           
            <td>{{ item }}</td>	
			{% endfor %}	
        </tr>
        {% endfor %}
    </tbody>
</table>
<table id="amazon-table" style="display:none;">
    <thead>
        <tr>
            <th></th>
            <th>Amazon</th>
        </tr>
    </thead>
    <tbody>	
       {% for key, value in line2.iteritems() %}
        <tr>			
            <th>{{ key }}</th> 
			{% for item in line2[key] %}           
            <td>{{ item }}</td>	
			{% endfor %}	
        </tr>
        {% endfor %}
    </tbody>
</table>
<table id="facebook-table" style="display:none;">
    <thead>
        <tr>
            <th></th>
            <th>Facebook</th>
        </tr>
    </thead>
    <tbody>	
       {% for key, value in line3.iteritems() %}
        <tr>			
            <th>{{ key }}</th> 
			{% for item in line3[key] %}           
            <td>{{ item }}</td>	
			{% endfor %}	
        </tr>
        {% endfor %}
    </tbody>
</table>
        </div>

    </div>
{% endblock content %}

{% block bottom_js %}
    <script src="../static/js/sol.js"></script>
    <script src="../static/js/script.js" ></script>
{% endblock bottom_js %}
