{% extends "base.html" %}
{% block extra_head %}
    <title>Realtime Stock chart</title>
{% endblock extra_head %}
{% block menu %}
    <div class="container">
        <div class="header clearfix">
            <nav>
                <ul class="nav nav-pills pull-right">
                    <li role="presentation" class="active"><a href="#">Home</a></li>
                    <li role="presentation"><a href="#">About</a></li>
                    <li role="presentation"><a href="#">Contact</a></li>
                </ul>
            </nav>
            <h3 class="text-muted">Stock Prediction</h3>
        <div>
    </div>
{% endblock menu %}

{% block content %}
    <div class="container">
        <div class="jumbotron">
            <p>This project aims to predict stock using data collected from Twitter and Facebook. The prediction and real time value are shown as below.</p>
        </div>
        <div>
            <ul class="nav nav-tabs">
                <li class="active"><a data-toggle="tab" href="#stock1">Google</a></li>
                <li><a data-toggle="tab" href="#stock2">Facebook</a></li>
                <li><a data-toggle="tab" href="#stock3">Amazon</a></li>
            </ul>
        <div>
        <div class="tab-content">
            <div id="stock1" class="tab-pane fade in active">
            <div class="chart" id="container"></div>
        </div>
        <div id="stock2" class="tab-pane fade">
            <div class="chart" id="container_1"></div>
        </div>
        <div id="stock3" class="tab-pane fade">
            <div class="chart"></div>
        </div>
    </div>
{% endblock content %}

{% block bottom_js %}
    <script src="../static/js/script.js" ></script>
{% endblock bottom_js %}