<!DOCTYPE html>
<html lang="en">
	<head>
		<title>Realtime Stock chart</title>
		<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/bootstrap.min.css') }}"> 
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/style.css') }}"> 
	</head>
	<body>
		<div class="container">
			<div class="header clearfix">
        		<nav>
          			<ul class="nav nav-pills pull-right">
            			<li role="presentation" class="active"><a href="#">Home</a></li>
            			<li role="presentation"><a href="#">About</a></li>
            			<li role="presentation"><a href="#">Contact</a></li>
          			</ul>
        		</nav>
        		
        		<h3 class="text-muted">Stock Prediction</h3>
      </div>

			<div class="jumbotron">
  				<p>This project aims to predict stock using data collected from Twitter and Facebook. The prediction and real time value are shown as below.</p>
			</div>

			<ul class="nav nav-tabs">
    			<li class="active"><a data-toggle="tab" href="#stock1">Google</a></li>
    			<li><a data-toggle="tab" href="#stock2">Facebook</a></li>
    			<li><a data-toggle="tab" href="#stock3">Amazon</a></li>
  		</ul>

  		<div class="tab-content">
    			<div id="stock1" class="tab-pane fade in active">
      				<div class="chart" id="container"></div>
      		</div>
    			<div id="stock2" class="tab-pane fade">
      				<div class="chart"></div>
    			</div>
    			<div id="stock3" class="tab-pane fade">
      				<div class="chart"></div>
    			</div>
    		
  		</div>
			
			<footer class="footer">
        		<p>&copy; 2016 tinyjumbo</p>
      		</footer>
		</div>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
	<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
	<script src="https://code.highcharts.com/stock/highstock.js"></script>
	<script src="https://code.highcharts.com/stock/modules/exporting.js"></script>	
	<script src="../static/js/script.js" ></script>
	</body>
	
</html>








