*{
	margin:0;
	padding:0;
}

body {
  padding-top: 20px;
  padding-bottom: 20px;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  text-align: center;
  padding-right: 15px;
  padding-left: 15px;
}

/* Custom page header */
.header {
  padding-bottom: 20px;
  border-bottom: 1px solid #e5e5e5;
}
/* Make the masthead heading the same height as the navigation */
.header h3 {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 40px;
}

/* Custom page footer */
.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}

/* Customize container */
@media (min-width: 768px) {
  .container {
    max-width: 730px;
  }
}
.container-narrow > hr {
  margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
  text-align: center;
  border-bottom: 1px solid #e5e5e5;
}
.jumbotron .btn {
  padding: 14px 24px;
  font-size: 21px;
}

/* Supporting marketing content */
.marketing {
  margin: 40px 0;
}
.marketing p + h4 {
  margin-top: 28px;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-right: 0;
    padding-left: 0;
  }
  /* Space out the masthead */
  .header {
    margin-bottom: 30px;
  }
  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
}
.container {
	width:90%;
	min-width: 310px;
}
.jumbotron {
    width:100%;
    margin-left:auto;
}
.chart{
	height:400px;
	margin-bottom: 10px;
}

.tabs {
    margin-top:20px;
    position: relative;
    background: #fff;
    width: 100%;
}

.tabs nav {
	margin-top:80px;
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    background: #C9C9C9;
    color: #dcdcdc;
    text-shadow: 1px 1px 1px rgba(255, 255, 255, 0.2);
    width: 60px;
    float:left;
}

.tabs nav a {
    padding: 10px 0px;
    text-align: center;
    width: 100%;
    cursor: pointer;	
}

.tabs nav a:hover,
.tabs nav a.selected {
    background: #dcdcdc;
    color: #C9C9C9;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
}
.tabs .content {
    padding: 20px 0px;
    top: 0px;
    left: 60px;
    color: #000;
    width: 90%;
    height:auto;
    overflow: hidden;
    opacity: 1;
    transition: opacity 0.1s linear 0s;
}
.tabs .content p { padding-bottom: 2px; }

.tabs .content p:last-of-type { padding-bottom: 0px; }
.main-panel{
    width:100%;
    min-height:400px;
}
#filter, #date-picker{
    width:60%;
    margin-bottom:20px;
    margin-left:10%;

}
.tweet-card{
	width:70%;
	margin-left:12%;
	margin-top: 30px;
	display:none;
}
.icon-text{
	background-position: left center;	
	background-repeat: no-repeat;
	padding-left: 20px; /* Or size of icon + spacing */
}
#retweet{
	background-image: url(../image/retweet.png);
	background-size: 20px 20px;
}
#like{
	background-image: url(../image/heart-64.png);
	background-size: 15px 15px;
}
.bottom-line{
	display:inline-block;
	margin-bottom:10px;
}
